.card.new {
    /* background: linear-gradient(70deg, var(--main-blue-color), var(--main-purple-color)); */
    background-color: #FFFFFF10;
    backdrop-filter: blur(10px);
    position: relative;
    border-radius: 10px;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    justify-content: center;
    color: rgb(25, 168, 212);
}

.card.new:hover {
    color: rgb(103, 12, 173);
    background-color: #FFFFFF50;
    box-shadow: 5px -5px 5px 5px #48d0ef50, -5px 5px 5px 5px #8d5cff87;
    
}

.content-card {
    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* Align items vertically */
    justify-content: center;
    align-items: center;
}

.title {
    
    margin-bottom: 10px;
}

.plus {
    height: 20%;
}

.plus img{
    height: 100%;
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-panel,
    .right-panel {
        flex-direction: row;
        overflow-x: scroll;
    }

    .card {
        min-width: 250px;
        margin: 0 10px;
    }
} */