/* Background and container styles */
.background-edition {
    position: relative;
    min-height: 70vh;
    padding: 20px;
}

.background-hexa.image.edition-rpg {
    height: 100vh;
    background-image: url('../../../assets/hexa_background_transparent.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    position: fixed;
}

/* Title section */
.title-status-bar {
display: flex;
    align-items: center;
    /* Aligne verticalement les éléments sur la même ligne */
    justify-content: space-between;
    /* Assure que les deux éléments sont bien placés à gauche et à droite */
}

.title-rpg-editor {
    position: relative;
    flex: 1;
}

.title-rpg-editor input {
    font-size: 30px;
}

.wiki-status {
    flex: 1;
    text-align: right;
    /* Aligne le contenu à droite */
}

/* Main container */
.main-contaner.rpg-editor {
    margin-top: 80px;
    padding: 30px;
}

/* Tabs */
.tabs {
    display: flex;
    margin-top: 20px;
}

.tabs button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #ccc;
    margin-right: 10px;
    border-radius: 5px;
}

.tabs button.active-tab {
    background-color: #8251c1; /* Color for active tab */
    color: white;
}

/* Editor sections */
.rpg-editor,
.bestiary-section,
.race-section,
.class-section {
    margin-top: 20px;
}

/* List styles */
.bestiary-list,
.race-list,
.class-list {
    margin-top: 20px;
}

.bestiary-list ul,
.race-list ul,
.class-list ul {
    list-style: none;
    padding-left: 0;
}

.bestiary-list li,
.race-list li,
.class-list li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Input fields */
.input-field {
    position: relative;
    z-index: 2;
    margin-top: 20px;
}

/* Save button */
.save-button {
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    padding-left: 3dvb;
    padding-right: 3dvb;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: var(--main-blue-color);
    color: white;
    position: relative;
    z-index: 2;
    margin-top: 20px;
}

/* Quill editor container */
.ql-editor-container {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
}

/* Quill editor */
.ql-editor {
    /* min-height: 150px; */
    height: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
}

/* Bestiary and race sections */
.bestiary-section,
.race-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 2;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    position: relative;
}

/* Input fields inside sections */
.bestiary-section input,
.race-section input,
.bestiary-section button,
.race-section button {
    width: 20%;
    padding: 10px;
    margin-top: 5px;

}

.bestiary-section ,
.race-section ,
.bestiary-section ,
.race-section  {
    width: 90%;
    margin: auto;
}

/* List containers */
.bestiary-list,
.race-list {
    margin-top: 20px;
}

/* Toolbar */
[role="toolbar"]:nth-child(2) {
    display: none;
}

/* Success message */
.save-success-message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
}

/* Class section specific styles */
.class-section .form {
    background-color: #ffffffb4;
    backdrop-filter: blur(5px);
    width: 95%;
    margin: auto;
    padding: 10px;
    position: relative;
}

.class-section input {
    width: 50%;
}

/* Additional button styles */
.controls button {
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    padding-left: 3dvb;
    padding-right: 3dvb;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: var(--main-blue-color);
    color: white;
}
