.footer {
    width: 100%;
    height: 150px;
    padding: 10px;
    text-align: center;
    position: relative;
    /* Changement ici */
    margin-top: 10px;
    bottom: 0;
    /* background-color: #f3f3f3; */
    /* Assure-toi d'avoir un fond visible si besoin */
}

.footer .main-content {
    display: flex;
    position: relative;
    height: 80%;
}

.footer .logo-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.footer .links-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.footer .copyright-container {
    text-align: center;
    font-size: 0.8rem;
    color: rgb(106, 106, 106);
}

.footer img {
    height: 50%;
}

.footer .site-plan {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.footer .site-plan .navigation,
.footer .site-plan .help-and-contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10%;
}

.footer .navigation .links,
.footer .help-and-contact .links {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
}

.footer .title-navigation {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.footer li {
    list-style-type: none;
    margin: 5px 0;
}

.footer li a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}