.ql-editor {
    background-color: white; /* Fond blanc */
    color: black; /* Texte noir */
    min-height: 300px; /* Hauteur minimale de l'éditeur */
    padding: 10px; /* Ajoutez un peu de padding pour rendre le texte plus lisible */
  }
  
  .controls {
    margin-top: 20px; /* Espace au-dessus des contrôles */
  }
  
  .controls-right {
    margin-left: 10px; /* Espace à gauche du bouton */
  }
  
  .state {
    margin-top: 20px; /* Espace entre les sections */
  }
  
  .state-title {
    font-weight: bold; /* Titre des sections en gras */
    margin-bottom: 5px;
  }
  