.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(70deg, rgba(37, 150, 190, 0.7), rgba(117, 42, 203, 0.7));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar li {
    margin: 0 20px;
}

/* logo image position */
li.logo.home-link {
    height: 90%;
}

.logo-container-navbar {
    margin-top: 0px;
    position: relative;
    width: 80px;
    height: 100%;
}

img.logo.image.link {
    height: 100%;
}

/* user icon position */
li.icone.login-link {
    height: 90%;
    right: 0px;
    position: absolute;
}

.icone-container {
    margin-top: 0px;
    margin-right: 5px;
    position: relative;
    width: 80px;
    height: 100%;
}

img.icone_user {
    height: 100%;
    cursor: pointer;
}

/* sub-menu styles */
.sub-menu {
    width: 150% !important;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 10px;
    margin: 0;
    top: 70px;
    right: 0;
}

.sub-menu li {
    margin: 0;
    padding: 4px;
    cursor: pointer;
    width: 100%;
}

.sub-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
}

.sub-menu li a:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* language switcher styles */
.change-langage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 120px;
}

.change-langage {
    height: 100%;
}

.change-langage-btn {
    cursor: pointer;
    color: #FFFFFF;
}

.change-langage-container {
    display: flex;
    gap: 10px;
}

.change-langage-btn.active {
    font-weight: bold;
}

/* theme switcher styles */
.theme-switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 160px;
    padding: 5px;
}

/* Burger menu styles */
.burger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.burger-menu img {
    width: 30px;
    height: 30px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar  {
        background-color: #f0f0f000;
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0px;
        left: -100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        transition: left 0.3s ease-in-out;
        color: black;
    }

    .navbar ul.open {
        left: 0;
        color: black;
    }

    .burger-menu {
        display: block;
        left : 5px;
    }

        .burger-menu.open {
            /* display: none; */
        }

    .theme-switch-container,
    .change-langage-container {
        position: static;
        margin: 10px 0;
        color: black;
    }

    .icone.login-link {
        position: static;
        margin: 10px 0;
        color: black;
    }
        .navbar a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-size: 1rem;
        }
}