

.background-hexa.image.rpg-view {
    height: 100vh;
    background-image: url('../../../assets/hexa_background_transparent.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    position: fixed;
}

.main-contaner-rpg-view{
    background-color: rgba(0, 255, 255, 0);
    margin-top : 90px;
    min-height: 80vh;
    padding: 20px;
    position: relative;
}

.wiki-banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.wiki-title {
    text-align: center;
    margin: 20px 0;
}

.wiki-container {
    display: flex;
    margin: 20px;
}

.wiki-sidebar {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.wiki-sidebar ul {
    list-style-type: none;
    padding: 0;
    position: fixed;
}

.wiki-sidebar ul li {
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.wiki-sidebar ul li.active {
    background-color: #832dce;
    color: white;
}

.wiki-content-container {
    width: 80%;
    padding: 20px;
}

.wiki-content {
    margin-top: 20px;
}

.wiki-content h4 {
    margin-top: 0;
}

.rpg-items-list{
    background-color: #ffffff20;
    box-shadow: 5px 5px 5px #00000030;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 10px;
}

.rpg-items-list h4{
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-family: 'MedievalSharp', cursive;
}

.separator-item{
    height: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
}

.rpg-items-list  .rpg-items-content:last-child .separator-item{
    display: none;
} 

.beast-type{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
