.theme-switch-button {
    display: flex;
    justify-content: space-between;
    /* Ajouté pour espacer les éléments */
    width: 80px;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #FFFFFF20;
    border: 1px solid #ccc;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.theme-switch-button:hover {
    background-color: #f0f0f0;
}

.theme-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.theme-icon.hidden {
    display: none;
}


.theme-switch {
    list-style: none;
}

/* Ajout d'une classe spécifique pour positionner l'icône dark à droite */
.theme-icon.dark {
    right: 0px !important;
}