.card-rpg-discover{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF80;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    position: relative;
    box-shadow: 5px 5px 5px #00000060;
}

.card-rpg-discover:hover {
    cursor: pointer;
}

.card-rpg-discover .img{
    background: linear-gradient(45deg, var(--main-blue-color), var(--main-purple-color));
    border-radius: 20px 20px 0 0;
    height: 50%;
    position: relative;
}
.card-rpg-discover .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.card-rpg-discover .info {
    height: 50%;
    padding: 10px;
    position: relative;
}

.title-card-rpg{
color: black;
font-size: 30px;
}

.card{
    cursor: pointer;
}