Button{
    background-color: #2596BE;
    border-radius: 50px;
    margin: auto;
    padding: 10px;
    padding-left: 6dvb;
    padding-right: 6dvb;
    color: white;
    font-size:larger;
    cursor: pointer;
    border: none;
}
