.admin-wiki-page {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .filter-section label {
    margin-right: 10px;
  }
  
  .filter-section select {
    padding: 5px;
  }
  
  .wikis-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .wiki-item {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .wiki-image {
    max-width: 100px;
    height: auto;
    margin-top: 10px;
  }
  
  .action-buttons {
    margin-top: 10px;
  }
  
  .action-buttons button,
  .action-buttons select {
    margin-right: 10px;
    padding: 5px 10px;
  }
  
  .admin-panel-background{
    width: 100%;
      height: auto;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(70deg, var(--main-blue-color), var(--main-purple-color));
  }

  h2{
    margin-bottom: 30px;
  }