.background-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form.newRpg {
    width: 50%;
    height: 60%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right{
    width: 100%;
}

.field-form {
    width: 100%;
    margin-bottom: 20px;
}

.btn.bottom {
    width: 100%;
}


.title-form.new-rpg p{
    font-size: 40px;
}

.info-new-rpg{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: rebeccapurple; */
}