@import '/src/utils/global.css';

body{
    background: linear-gradient(70deg, var(--main-blue-color), var(--main-purple-color));
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Styles de base pour le conteneur */
.form-register-container {
  position: relative;
  width: 400px;
  height: 80vh;
  padding: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: white;
}

/* Pour s'assurer que le conteneur est centré en hauteur et largeur */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media query pour les écrans de téléphone */
@media (max-width: 600px) {
  .form-register-container {
      width: 80vw;
      height: 80vh;
  }
}

/* Media query pour les écrans intermédiaires (tablettes) */
@media (min-width: 601px) and (max-width: 1024px) {
  .form-register-container {
      width: 70vw;
      height: 80vh;
  }
}

/* Styles pour le formulaire */
#signup-form {
  position: relative;
  flex-direction: column;
  width: 100%;
}
#signup-form input {
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
}

#signup-form button {
  margin-top: 15px;
  font-size: 16px;
}

.logo-container{
  margin-top: 40px;
  width: 80px;
}

.form-title{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.form-register-link{
  position: absolute;
  font-size: 0.7rem;
  bottom: 5px;
}

.form-register-link a{
  color: var(--main-blue-color);
}